@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Montserrat:ital,wght@0,100;0,200;1,100&family=Open+Sans&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Kanit:ital,wght@0,100;1,100&family=Montserrat:ital,wght@0,100;0,200;1,100&family=Open+Sans&family=Rubik:wght@300;400&display=swap');


/* main=age content has the book cover image and the main title, author name etc so we have to keep them adjacent  */
.main-page-content {  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;

}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 10px;
  padding: 10px;
  font-family: 'Abel', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;

}

.firstpart{
  margin: 50px;
}



.author{
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-right: 80px;
  margin-top: -18px;
  font-family: 'Abel', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif;
  
}

.mainstuff{
  display:flex; 
  flex-direction: column;
  justify-content: space-evenly
}

.description{
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-right: 76px;
  padding: 10px;
  font-family: 'Abel', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}

.abouttheauthor{
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-right: 40px;
  padding: 10px;
  font-family: 'Abel', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}

.pages,.genre{
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin: 10px;
  padding: 10px;
  font-family: 'Abel', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
}
.ratings{
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 10px;
  padding: 10px;
  font-family: 'Abel', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
}
.readersalsoenjoyed{
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin: 80px;
  padding: 10px;
  font-family: 'Abel', sans-serif;
  font-family: 'Kanit', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
}
